.header{
    text-align: center;
    background-color: blue;
    color: #fff;
    width: 400px;
    margin: auto;
    padding: 10px 5px 5px 5px;
    border-radius: 25px;
    font-size: 26px;
}

.main h1{
    color: blue;
}
.main{
    background-color: whitesmoke;
    color: black;
    text-align: center;
    width: auto;
    
}